Node-Red Flow
[{"id":"500ae5f8.ea0bdc","type":"function","z":"ccb5505b.df1a8","name":"TImestamp","func":"var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;","outputs":1,"noerr":0,"x":166.77777862548828,"y":534.8055286407471,"wires":[["c6b21e08.0a152"]]},{"id":"d12bd8e9.a99f28","type":"mqtt in","z":"ccb5505b.df1a8","name":"","topic":"mardi-xdk2","qos":"2","broker":"27f2d6b9.cb20ca","x":89.5,"y":263.00000190734863,"wires":[["3a408447.214fec","87dcd4b7.c2e0d8","9d94fb5f.ea2fb8","500ae5f8.ea0bdc"]]},{"id":"3a408447.214fec","type":"function","z":"ccb5505b.df1a8","name":"Parsing Humidity","func":"msg.payload = msg.payload.substring(24,msg.payload.length - 35);\n\nvar res = parseFloat (msg.payload)\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":329.00000762939453,"y":202.75000286102295,"wires":[["c91ae048.6303f","9d561e14.4a63d"]]},{"id":"87dcd4b7.c2e0d8","type":"function","z":"ccb5505b.df1a8","name":"Parsing Temperature","func":"msg.payload = msg.payload.substring(44,msg.payload.length - 15);\n\nvar res = parseFloat (msg.payload)\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":336.75000762939453,"y":48.50000858306885,"wires":[["c76c1baa.8d8558","2f04fb06.839de4"]]},{"id":"9d94fb5f.ea2fb8","type":"function","z":"ccb5505b.df1a8","name":"Parsing Light","func":"msg.payload = msg.payload.substring(58,msg.payload.length - 1);\n\nvar res = parseFloat (msg.payload)\nmsg.payload = res\nreturn msg;","outputs":1,"noerr":0,"x":308.75000762939453,"y":358.25000762939453,"wires":[["5c637eae.952f5","85756742.df6448"]]},{"id":"c76c1baa.8d8558","type":"ui_gauge","z":"ccb5505b.df1a8","name":"XDK Temp","group":"6e17095.070bff8","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"38","seg2":"58","x":669.2500076293945,"y":47.75000858306885,"wires":[]},{"id":"c91ae048.6303f","type":"ui_gauge","z":"ccb5505b.df1a8","name":"XDK Humidity","group":"fb4539b.651f1c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Relative Humidity","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":658.5000076293945,"y":202.75000286102295,"wires":[]},{"id":"5c637eae.952f5","type":"ui_gauge","z":"ccb5505b.df1a8","name":"","group":"7f40c4dc.430c0c","order":0,"width":0,"height":0,"gtype":"gage","title":"Ambient Light","label":"lux","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661.0000076293945,"y":358.5000057220459,"wires":[]},{"id":"c2c2277d.fa04c8","type":"ui_text","z":"ccb5505b.df1a8","group":"6e17095.070bff8","order":0,"width":0,"height":0,"name":"Temp Last Updated","label":"Last Updated : ","format":"{{msg.payload}}","layout":"row-center","x":652.2222061157227,"y":502.2777805328369,"wires":[]},{"id":"c7eead77.4eaca","type":"ui_text","z":"ccb5505b.df1a8","group":"fb4539b.651f1c8","order":0,"width":0,"height":0,"name":"Humidity Last Updated","label":"Last Updated : ","format":"{{msg.payload}}","layout":"row-center","x":640.611083984375,"y":544.4722027778625,"wires":[]},{"id":"d30c1764.817c98","type":"ui_text","z":"ccb5505b.df1a8","group":"7f40c4dc.430c0c","order":0,"width":0,"height":0,"name":"Ambient Light Last Updated","label":"Last Updated : ","format":"{{msg.payload}}","layout":"row-center","x":621,"y":589.2222385406494,"wires":[]},{"id":"c6b21e08.0a152","type":"moment","z":"ccb5505b.df1a8","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"8","adjType":"hours","adjDir":"add","format":"DD MMM YYYY HH:mm:ss","locale":"\"POSIX\"","output":"","outputType":"msg","outTz":"Etc/UTC","x":369.02777099609375,"y":534.5555973052979,"wires":[["c2c2277d.fa04c8","c7eead77.4eaca","d30c1764.817c98"]]},{"id":"9d561e14.4a63d","type":"function","z":"ccb5505b.df1a8","name":"MIST_SetType_DevID","func":"msg.value = msg.payload;\nmsg.devType = \"Humid/\";\nmsg.devID = \"XDK-BOSCH1\";\n\nmsg.payload = {\"type\":\"mist/reading\",\"data\":{\"deviceID\":msg.devID,\"reading\":[{\"value\":msg.value,\"type\":msg.devType}]}}\n\nreturn msg;","outputs":1,"noerr":0,"x":460.50000762939453,"y":278.2500047683716,"wires":[["ac3cbb34.e00cf8"]]},{"id":"2f04fb06.839de4","type":"function","z":"ccb5505b.df1a8","name":"MIST_SetType_DevID","func":"msg.value = msg.payload;\nmsg.devType = \"Temp/\";\nmsg.devID = \"XDK-BOSCH1\";\n\nmsg.payload = {\"type\":\"mist/reading\",\"data\":{\"deviceID\":msg.devID,\"reading\":[{\"value\":msg.value,\"type\":msg.devType}]}}\n\nreturn msg;","outputs":1,"noerr":0,"x":461.00000762939453,"y":114.7500057220459,"wires":[["c39a45ab.17ae28"]]},{"id":"85756742.df6448","type":"function","z":"ccb5505b.df1a8","name":"MIST_SetType_DevID","func":"msg.value = msg.payload;\nmsg.devType = \"Illuminance/\";\nmsg.devID = \"XDK-BOSCH1\";\n\nmsg.payload = {\"type\":\"mist/reading\",\"data\":{\"deviceID\":msg.devID,\"reading\":[{\"value\":msg.value,\"type\":msg.devType}]}}\n\nreturn msg;","outputs":1,"noerr":0,"x":458.25000762939453,"y":432.50000762939453,"wires":[["438f929c.054fdc"]]},{"id":"ac3cbb34.e00cf8","type":"http request","z":"ccb5505b.df1a8","name":"","method":"POST","ret":"txt","url":"192.168.0.124:3008/mist","tls":"","x":668.0000076293945,"y":278.25000381469727,"wires":[[]]},{"id":"c39a45ab.17ae28","type":"http request","z":"ccb5505b.df1a8","name":"","method":"POST","ret":"txt","url":"192.168.0.124:3008/mist","tls":"","x":670.0000076293945,"y":113.750009059906,"wires":[[]]},{"id":"438f929c.054fdc","type":"http request","z":"ccb5505b.df1a8","name":"","method":"POST","ret":"txt","url":"192.168.0.124:3008/mist","tls":"","x":670.0000076293945,"y":434.0000066757202,"wires":[[]]},{"id":"27f2d6b9.cb20ca","type":"mqtt-broker","z":"ccb5505b.df1a8","name":"XDK-Sensor","broker":"tracker.my","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e17095.070bff8","type":"ui_group","z":"","name":"Temperature - Bosch","tab":"4ac639e.76271c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fb4539b.651f1c8","type":"ui_group","z":"","name":"Relative Humidity - Bosch","tab":"4ac639e.76271c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f40c4dc.430c0c","type":"ui_group","z":"","name":"Ambient Light - Bosch","tab":"4ac639e.76271c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4ac639e.76271c8","type":"ui_tab","z":"","name":"MIMOS Wireless Sensor Demo","icon":"dashboard","order":4}]
